
<footer>
    <meta charset="utf-8">
<div>
<img class="logo_garage" align="left" src="/logo_garage.png">
<h4 align="left" style="padding-top: 6vh;" >A Nokia Chennai Garage Product.</h4>
</div>
</footer>