<!DOCTYPE html>
<html lang="en">

{{> header}}
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist-plugin-legend/0.6.2/chartist-plugin-legend.min.js"></script>

     <link rel="stylesheet" href="charts.css">
<style>

</style>
   
<body>
    <div class="container body1">
      <br> 
      <div class="container" style="width:95%;" >
        <center>
        <h2>Whole Factory</h2>
        <h3>Analytics on   {{date}}</h3>    
            <br><br>
            {{!-- <p>Select desired date</p> --}}
            <div class="form-group" data-toggle="tooltip" title="Select date for Analytics">
                <form   method="POST" action="/analysisbydate">
                    <input class="form-control" type="date" id="date" name="date"> <br>
                    <button class="btn btn-primary" id="dateSubmit">date</button>                
                </form>  
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-5">
                    <div id="graph-top" class="ct-chart ct-minor-sixth " ></div> 
                </div>
                <div class="col-md-3">
                    <ul id="faultByLineDay"> </ul><br>
                    <ul id="faultByCategoryDay"> </ul>                 
                </div>
                <div class="col-md-4">
                    <div id="pie-cat-countbyline" class="ct-chart ct-square " ></div>
                </div>
            </div>
            <hr>

            
            <h3>Weekly Analytics from {{week}}</h3><br><br>
             <div class="row">
                <div class="col-md-4">
                    <div id="pie-cat-countbylineWeek" class="ct-chart ct-square " ></div>  
                </div>
                <div class="col-md-3">
                    <ul id="faultByLineWeek"> </ul><br>
                    <ul id="faultByCategoryWeek"> </ul>                 
                </div>
                <div class="col-md-5">
                     <div id="graphFaultByLineWeek" class="ct-chart ct-minor-sixth " ></div>
                </div>
            </div>
            <hr>


             <h3>Monthly Analytics from  {{month}} </h3><br><br>
              <div class="form-group" data-toggle="tooltip" title="Select Month for Analytics">
                <form   method="POST" action="/analysisbymonth">
                    <input class="form-control" type="month" id="month" name="month" placeholder="2018-03"> <br>
                    <button class="btn btn-primary" id="dateSubmit">Month</button>                
                </form>  
            </div>
             <div class="row">
                <div class="col-md-5">
                    <div id="graphFaultByLineMonth" class="ct-chart ct-minor-sixth " ></div>
                </div>
                <div class="col-md-3">
                    <ul id="faultByLineMonth"> </ul><br>
                    <ul id="faultByCategoryMonth"> </ul>                 
                </div>
                <div class="col-md-4">
                    <div id="pie-cat-countbylineMonth" class="ct-chart ct-square " ></div>  
                </div>
            </div>
            <hr>


             <h3> Analytics from {{year}}</h3><br><br>
             <div class="row">
                <div class="col-md-4">
                    <div id="pie-cat-countbylineYear" class="ct-chart ct-square " ></div>  
                </div>
                <div class="col-md-3">
                    <ul id="faultByLineYear"> </ul><br>
                    <ul id="faultByCategoryYear"> </ul>                 
                </div>
                <div class="col-md-5"> 
                    <div id="graphFaultByLineYear" class="ct-chart ct-minor-sixth " ></div>
                </div>
            </div>
            
        </center>          
      </div> 
      <br> 
      

             
    </div>
      
</body>






<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
 <script>
  
    </script>
{{> analysis_chart_main}}
{{> footer}}

 </html>
