<!DOCTYPE html>
<html lang="en">

{{> header}}
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist-plugin-legend/0.6.2/chartist-plugin-legend.min.js"></script>

     <link rel="stylesheet" href="charts.css">
<style>

</style>
   
<body>
    <div class="container body1">
      <br> 
      <div class="container" style="width:80%;" >
        <center>
        <h2>Whole Factory</h2>    
            <br>
            <div class="row">
                <div class="col-md-8">
                     <div id="graph-top" class="ct-chart ct-minor-sixth " ></div> 

                </div>
                <div class="col-md-4">
                    <div class=" well">
                    <h4 id="filter-factory-label"> </h4> 
                    <h4 id="RFM-factory-label"> <h4> 
                        
                    </div>
                </div>
            </div>
            
        </center>          
      </div> 
      <br> 
      <div class="container" style="width:80%;" >
        <center>
        <h2>Whole Factory Downtime </h2>    
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div id="graph-Downtime" class="ct-chart ct-minor-sixth " ></div>      

                </div>
            </div>
        </center>          
      </div> 

        <div id="pie-fault" class="ct-chart ct-square " ></div>  
             
    </div>
      
</body>







 <script>
  
    </script>
{{> footer}}
 </html>
