<!DOCTYPE html>
<html lang="en">

{{> header}}
<link rel="stylesheet" type="text/css" href="home.css">

<body>
  <div class=" container ">      <br />
    <br />
<div class="row">
  {{layout}}

  </div>

  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="  well">
        <p1>Line 5 </p1>

      </div>

    </div>

    <div class="col-md-3">
      <div class="  well">
        <p1>Line 6</p1>

      </div>

    </div>
    <div class="col-md-3">
      <div class="  well">
        <p1>Line 7</p1>

      </div>

    </div>




    </div>
</div>


</body>
{{> footer}}



 <script type="text/javascript">



</script>


 </html>
