<html>
    {{> header}}
<style>
    html
    {
        font-family: 'roboto';

    }
    #usr
    {
        width: 75%;
    }
    select
    {            margin-top: 2vh;

        padding: 10px 30px;


   }
    p{
color: #696969;
     }
     .rules{
    border: 1px solid #bfbfbf;
    padding: 1vh 1vw;
         }
</style>

<div class="container">
    <center>
        <div class="rules">
          <p>Kindly fill in the details of the fault and click SUBMIT. </p>
          <p>The Ticket will be closed once you click on SUBMIT.</p>
            
        </div>
      
        <br>
        <form method="POST" action="/comment">
                    <input type="hidden" value="{{b}}" name="b" />

              <input type="text" class="form-control" id="usr" name="TechnicianName" placeholder="Technician Name"/>
              <br>
              <br>
             <label for="comment">Select Specific Fault:</label>
                <br>
            <select name="Fault" class="btn btn-primary dropdown-toggle">
                <ul class="dropdown-menu">
                     <option value="Fault1">Fault1</option>
                    <option value="Fault2">Fault2</option>
                    <option value="Fault3">Fault3</option>
                    <option value="Fault4">Fault4</option>

                </ul>
           
            </select>   
                <br>
                <br>
                <br>
                <br>
              <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea name="Comment" class="form-control" rows="5" id="comment"></textarea>
              </div> 
            <button class="btn btn-success">Submit    </button>

            
        </form>
            
    </center>
    
</div>

<script src="../public/js/mqtt.js"/>
      {{> footer}}


</html>