<html>
    {{> header}}

<style>
    select
    {            margin-top: 2vh;

        padding: 10px 30px;


   }

</style>

<div class="container">
    <center>

        <form>
             <label for="comment">Select Specific Fault:</label>
 <br>
            <select class="btn btn-primary dropdown-toggle">
                <ul class="dropdown-menu">
                     <option value="Fault1">Fault1</option>
                    <option value="Fault2">Fault2</option>
                    <option value="Fault3">Fault3</option>
                    <option value="Fault4">Fault4</option>

                </ul>
           
            </select>   
<br>
<br>
<br>
<br>


         <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div> 
        

            
        </form>
            
    </center>
    
</div>



</html>