

/* First graph for whole factory */
#graph-top{
    padding-bottom: 10%;
}
.ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke:#003399;
    /* The width of your bars */
    stroke-width: 20px;
   
   }
   .ct-label{
    font-size: 14px;
    color: black;

   }


 