html, body   {
    background: #DDDDDE;
    font-family: 'Roboto';



}
.logo
{
  height: 70px;
  /*border-right: 2px solid #18121E;*/
}




.title
{
  padding-top: 4vh;
}
.body1 {
    background: white;
    box-shadow: 0 0 5px #576485;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 85%;
    padding: 2em 2em 4em;
    min-height: 90vh;

}

.login-form{

  padding: 3em 2em 4em;
  box-shadow: 0 0 5px whitesmoke;
   border: 3px solid whitesmoke;
   margin-top: 15vh;

}

.input-group
{
  border: 2px solid whitesmoke;

}


h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}


b, strong {
    font-weight: 600;
}


.navbar{
    background: white;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px solid #576485;


}

.a{
    border: none;
    background: #18121E;
    opacity: 0.7;
    font-weight: bolder;
    margin-left: 35%;
    margin-top: 30px;
	padding:10px;
  color: whitesmoke;
}

tr, .head{
    border-bottom: lightgray 1px solid;
    padding: 0 20px;
    text-align: center;
}

a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/






/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;

}

.container-table100 {
  width: 100%;
  min-height: 100vh;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
   justify-content: center;
  flex-wrap: wrap;

}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;


}
table * {
  position: relative;

}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height:30px;
  background: #576485;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: 'Roboto';
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: 'Roboto';
  font-size: 12px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
  border: 5px solid black;



}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;


}


.column1 {
  width: 120px;
  padding-left: 40px;
}

.column2 {
  width: 50px;
  text-align: center;

}

.column3 {
  width: 20px;
  text-align: center;

}

.column4 {
  width: 20px;
  text-align: center;
}

.column5 {
  width: 50px;
  text-align: center;
 }

.column6 {
  width: 120px;
  text-align: center;
  padding-left: 10px;

}



@media screen and (max-width: 992px) {
  .logo
  {
       height: 60px;

  }

  .title{
    padding:2vh 17vw;
     position:absolute;

 }
  table {
    display: block;



  }

  table > *, table tr, table td, table th {
    display: block;

  }
   tbody{
    border: 2px solid whitesmoke;
    margin-bottom: 3vh;




  }

  table thead {
    display: none;

  }
  table tbody tr {
    height: auto;
    padding: 37px 7px;


  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: 'Roboto';
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "ToR";
    padding-right: 50px;
    text-align: left;
  }
  table tbody tr td:nth-child(2):before {
    content: "Category";
    padding-right: 100px;
   }
  table tbody tr td:nth-child(3):before {
    content: "Line";
    padding-right: 100px;

  }
  table tbody tr td:nth-child(4):before {
    content: "Section";
    padding-right: 100px;

  }
  table tbody tr td:nth-child(5):before {
    content: "Status";
    padding-right: 100px;

  }
  table tbody tr td:nth-child(6):before {
    content: "ToA";
    padding-right: 100px;

  }
  table tbody tr td:nth-child(7):before {
    content: "ToC";
    padding-right: 100px;

  }
  table tbody tr td:nth-child(8):before {
    content: "Technician";
    padding-right: 100px;

  }
  .column4,
  .column5,
  .column6 {
    text-align: center;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
    text-align: center;
  }

  tbody tr {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
