


@media screen and (max-width: 992px) {
  .logo
  {
       height: 60px;

  }

  .title{
    padding:2vh 17vw;
     position:absolute;

 }
  table {
    display: block;


  }

  table > *, table tr, table td, table th {
    display: block;

  }
   tbody{
    border: 1px dashed grey;
    margin-bottom: 3vh;


}

  table thead {
    display: none;


  }
  table tbody tr {
    height: auto;
    padding: 37px 7px;


  }


  table tbody tr td {
    padding-left: 30% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: 'Roboto';
    font-size: 14px;
    color:  #2b2b2b;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
    margin-right:   100px;
  }

  table tbody tr td:nth-child(1):before {
    content: "ToR -";
      text-align: left;

  }
  table tbody tr td:nth-child(2):before {
    content: "Category-";
    padding-right: 100px;
   }
  table tbody tr td:nth-child(3):before {
    content: "Line-";
    padding-right: 100px;

  }
  
 
  table tbody tr td:nth-child(4):before {
    content: "Line Number-";
    padding-right: 100px;

  }
  /* 
  table tbody tr td:nth-child(5):before {
    content: "ToA-";
    padding-right: 100px;

  }
  table tbody tr td:nth-child(6):before {
    content: "ToC-";
    padding-right: 100px;

  }
  table tbody tr td:nth-child(7):before {
    content: "Technician -";
    padding-right: 100px;

  } */
  .column4,
  .column5,
  .column6 {
    text-align: right;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
    text-align: center;
  }

  tbody tr {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .container-table100 {

  }
}
